body {
   background-image: url('https://1.bp.blogspot.com/-qeArEabBeII/YHDkGGHvO-I/AAAAAAABdkU/21DXPSjcEFMMf4JXkFM-1qQJX9Uy47npQCNcBGAsYHQ/s881/building_takoyaki_yatai.png');
   background-size: cover;
   padding: 10px;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}