body {
   background-image: url('https://img3.imepic.jp/image/20231121/617510.jpg?a71d5d91618a8331c2a40708a78f56e2');
   background-size: cover;
   padding: 10px;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}